body {
  font: 20px "Comic Sans", sans-serif;
  line-height: 1.8;
  color: rgb(60, 211, 30);
}

footer {font-size: 16px;}
.margin {margin-bottom: 15px;}

.container-fluid {
padding: 30px;
padding-bottom: 70px;
}

img.resize {
  max-width:50%;
  max-height:50%;
}